body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/*  ===============
Typography
===================*/

.title {
  margin: 0;
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 400;
  color: #143774;
}

.subtitle {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  color: #1792d2;
}

/*  ==========
Layout
============== */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
}

/* ==============
Navigataion
================= */

.nav-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-list-item {
  margin-left: 2em;
}

.nav-link {
  padding: 0.25em 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #707070;
}

.nav-link:hover,
.nav-link:focus {
  color: white;
  background: #1792d2;
  padding: 0.25em 1em;
  border-radius: 0.64rem;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover,
.current-page:focus {
  color: #707070;
  background: #f8f8f8;
  border-radius: 0px;
  padding: 0.25em 0;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list-item {
    margin: 0.5em 0;
  }
}
