body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #303435;
}

img {
  width: 100%;
}

/* Typography */
h1,
h2,
span,
a {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #e74f54;
}

a {
  color: #c44b4f;
}

li {
  list-style-type: none;
}

/* button */
.btn {
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
}

.btn-accent {
  background: #c44b4f;
  color: #cbcdcb;
}

.btn-accent:hover,
.btn-accent:focus {
  background: #4c5355;
  color: #cbcdcb;
}

.btn-light {
  color: #4c5355;
}

.btn-light:hover,
.btn-light:focus {
  color: #c44b4f;
}

/* layout */
header,
section {
  padding: 45px;
}

.container {
  max-width: 620px;
  width: 90%;
  margin: 0 auto;
}

header,
.section-two {
  background: #cbcdcb;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2e354f;
} */

/* Typhography */

/* h1,
h2,
span {
  font-weight: 900;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #ef5839;
}

a {
  color: #ef5839;
} */

/* Layout */
/* 
header {
  background: #2e354f;
  padding: 45px;
  color: #fff;
}

section {
  padding: 45px;
}

.section-one {
  background: #fff;
}

.section-two {
  background: #2e354f;
  color: #fff;
}

.container {
  width: 620px;
  margin: 0 auto;
} */

/* Buttons */

/* .btn {
  display: inline-block;
  padding: 12px 24px;
  margin-right: 18px;
  font-weight: 900;
} */

/* .btn-accent {
  background: #ef5839;
  color: #fff;
}

.btn-accent:hover,
.btn-accent:focus {
  background: #e8b338;
  color: black;
}

.btn-light {
  background: #fff;
  color: black;
}

.btn-light:hover,
.btn-light:focus {
  background: #c2b280;
  color: #00162b;
} */
